<ul class="d-flex flex-wrap justify-content-center mx-auto mt-3 list-unstyled text-small">

	{% for reservation in availableDate %}

		<li class="mx-1 my-1">
			<a class="btn btn-danger lexend">{{ reservation | date("H:i")}}</a>
		</li>

	{% endfor %}
</ul>
