{% extends 'base.html.twig' %}

{% block title %}Quai antique - Restaurant savoyard - connexion{% endblock %}

{% block body %}
<div class="bg-dark text-white">
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fugiat iure esse id vero aspernatur, excepturi omnis aliquid labore a eius nihil. Minima magnam omnis soluta ab. Odit, perspiciatis voluptas?</p>
</div>
{% endblock %}
