.btn-danger {
  background-color: #ff2400 ;
}

body{
  font-family: 'Lexend', sans-serif;
  background: #212529 !important;
}

.img{
  height: 90vh;
  width: 100vw;
}

.justify{
  text-align: justify !important;
  text-justify: auto !important;
}

