.btn-danger {
  background-color: #ff2400 ;
}

body{
  font-family: 'Lexend', sans-serif;
  background: #212529 !important;
}

<<<<<<< Updated upstream
=======
h1, h2{
  font-family: 'Castoro', sans-serif;
}

h3{
  font-family: 'Arvo', sans-serif;
}

p{
  font-family: 'Arvo', sans-serif;
}

header {
  background-color: #21252963 !important;
}

>>>>>>> Stashed changes
.img{
  height: 90vh;
  width: 100vw;
}

.justify{
  text-align: justify !important;
  text-justify: auto !important;
}

<<<<<<< Updated upstream
=======
.thumbnail{
  object-fit: cover;
}

.nav-link:hover, .active{
  color: #ff2400 !important;
}

.lead {
  font-size: 1.15rem !important;
}


>>>>>>> Stashed changes
