.btn-danger {
  background-color: #ff2400 ;
}

.castoro{
  font-family: 'Castoro', sans-serif;
}
.lexend{
  font-family: 'Lexend', sans-serif;
}
.arvo{
  font-family: 'Arvo', sans-serif;
}

body{
  background: #212529 !important;
}

h1, h2{
  font-family: 'Castoro', sans-serif;
}

h3{
  font-family: 'Arvo', sans-serif;
}

p{
  font-family: 'Arvo', sans-serif;
}

header, nav {
  background: rgb(20,20,20) !important;
  background: linear-gradient(180deg, rgba(20,20,20,1) 10%, rgba(0,212,255,0) 100%) !important;
}

.img{
  height: 100vh;
  width: 100vw;
}

.justify{
  text-align: justify !important;
  text-justify: auto !important;
}

.thumbnail{
  object-fit: cover;
}

.nav-link:hover, .active{
  color: #ff2400 !important;
}

.lead {
  font-size: 1.15rem !important;
}

.intro {
  font-size: 4rem;
}
