{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Quai antique - Restaurant savoyard - Modification du mot de passe{% endblock %}

{% block body %}
  <div class="bg-dark text-white">

    <h1 class="text-center bg-dark my-5">Modification du mot de passe</h1>

    <div class="d-flex flex-column align-items-center justify-content-center container bg-light text-black rounded my-5 w-75">
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-5 mb-0">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form, {'attr': {'style': 'width: 50vw'}} ) }}

    </div>

</div>
{% endblock %}
