{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Quai antique - Restaurant savoyard - inscription
{% endblock %}

{% block body %}
	<div class="bg-dark text-white">

		<h1 class="text-center bg-dark my-5 pt-5">Inscription</h1>

		<div class="d-flex justify-content-center container bg-light text-black rounded my-5 w-75 text-center">

			{{ form(form, {'attr': {'style': 'width: 50vw'}}
				) }}

			</div>

		</div>
	{% endblock %}
