{% extends "base.html.twig" %}

{% block title %}Quai antique - Restaurant savoyard - inscription{% endblock %}

{% block body %}
  <div class="bg-dark text-white">

    <h1 class="text-center bg-dark my-5">Inscription</h1>

    <div class="d-flex justify-content-center container bg-light text-black rounded my-5 w-75">

        {{ form(form, {'attr': {'class': 'd-flex justify-content-center flex-column'}}) }}

    </div>

</div>
{% endblock %}